*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif, serif;
}

body {
  background: linear-gradient(45deg, #006bff, #ebebeb);
  color: #2a303c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif, serif;
}

h2 {
  text-shadow: -4px 2px #070079;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.about__container--img, .about__container--descrip {
  opacity: 0;
  transition: all 2s;
}

.about__technologies--container {
  opacity: 0;
  transition: all 2s;
}

.card__container {
  opacity: 0;
  transition: all 1s;
}

.input-group {
  opacity: 0;
  transition: all 1s;
}

.img-container {
  opacity: 0;
  transition: all 1s;
}

.transform_left {
  transform: translateX(-40%);
}

.transform_right {
  transform: translateX(40%);
}

.transform_up {
  transform: translateY(30%);
}

.transform_down {
  transform: translateY(5%);
}

.aparece {
  opacity: 1;
  transform: none;
}

.btn {
  padding: 1em 1.2em;
  border-radius: 15px;
  border: none;
  font-family: "Raleway", sans-serif, serif;
  color: #2a303c;
  cursor: pointer;
}

.btn-primary {
  background: #4e42f0;
  color: #fff;
  transition: all 0.3s ease-in;
  font-size: 0.8rem;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: #2d22c4;
  transform: scale(1.08);
  transition: all 0.3s ease-out;
}

.btn-secondary {
  background-color: #0FF67A;
  color: #2a303c;
  transition: all 0.3s ease-out;
}
.btn-secondary:hover {
  transform: scale(1.08);
  transition: all 0.3s ease-out;
  background-color: #08ca62;
}

.menu-pc {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  top: 0;
  /*   background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.menu-pc .main-menu {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5em;
  color: #0a0189;
}
.menu-pc .main-menu__list {
  display: flex;
  align-items: center;
}
.menu-pc .main-menu__item {
  padding: 0 2em;
}
.menu-pc .main-menu__link {
  text-transform: uppercase;
  color: rgb(31, 19, 209);
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .menu-pc {
    display: none;
  }
}

.menu-mobile {
  display: none;
  z-index: 1000;
}
.menu-mobile .close-image {
  position: absolute;
  top: 5%;
  left: 43%;
  width: 80px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: #ffffff;
}
.menu-mobile .close-image:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 768px) {
  .menu-mobile {
    width: 100%;
    height: 4rem;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
    align-content: center;
    padding-top: 1rem;
    top: 0;
  }
  .menu-mobile .burger-menu {
    width: 2rem;
    height: 2rem;
    border-radius: 0.1rem;
    background: linear-gradient(#3b79ec 20%, transparent 20%, transparent 40%, #3b79ec 40%, #3b79ec 60%, transparent 60%, transparent 80%, #3b79ec 80%, #3b79ec 100%);
    cursor: pointer;
  }
  .menu-mobile a {
    color: #ffffff;
  }
  .menu-mobile .main-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    top: -200vh;
    background: rgba(101, 186, 255, 0.8156862745);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .menu-mobile .main-menu ul {
    margin: 30% 0;
  }
  .menu-mobile .main-menu li {
    transition: all 0.3s ease-out;
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
  }
  .menu-mobile .main-menu li:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.5);
    text-shadow: 2px 2px rgb(54, 54, 54);
  }
  .menu-mobile .main-menu a {
    font-family: "Raleway", sans-serif, serif;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

main {
  margin: 6rem 0;
}

.main-banner {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  padding: 0 2rem;
}
@media screen and (max-width: 768px) {
  .main-banner {
    flex-wrap: wrap;
  }
}
.main-banner__name {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .main-banner__name {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .main-banner__name {
    width: 100%;
  }
}
.main-banner__photo {
  background-image: url("../images/blob-color.png");
  width: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 0px;
}
@media screen and (max-width: 1024px) {
  .main-banner__photo {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .main-banner__photo {
    width: 75%;
    margin: auto;
    background-size: contain;
  }
}
.main-banner__photo img {
  width: 100%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .main-banner__photo img {
    width: 73%;
  }
}
.main-banner__title {
  color: #68D2FF;
  width: 90%;
  font-size: 7rem;
  text-shadow: 8px 8px #43004e;
}
@media screen and (max-width: 1024px) {
  .main-banner__title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .main-banner__title {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 360px) {
  .main-banner__title {
    font-size: 4rem;
  }
}
.main-banner__title span {
  color: #E75AFE;
  text-shadow: 8px 8px #43004e;
}
.main-banner__copy {
  width: 80%;
  font-size: 2rem;
  margin-top: 5%;
  text-shadow: 3px 3px #43004e;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .main-banner__copy {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .main-banner__copy {
    font-size: 1.5rem;
  }
}

.about {
  margin: 7rem 0;
}
.about h2 {
  padding-left: 3em;
  font-size: 3rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .about h2 {
    padding-left: 0.5em;
  }
}
@media screen and (max-width: 575px) {
  .about h2 {
    padding-left: 1em;
  }
}
@media screen and (max-width: 360px) {
  .about h2 {
    padding-left: 0.5em;
    font-size: 2.4rem;
  }
}
.about__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about__container img {
  border-radius: 50%;
  width: 20%;
  height: 20%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background: linear-gradient(145deg, #ffc228, #43004e);
}
@media screen and (max-width: 1440px) {
  .about__container img {
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  .about__container img {
    margin-left: 3rem;
    width: 25%;
  }
}
@media screen and (max-width: 575px) {
  .about__container img {
    margin-left: 0;
    width: 30%;
  }
}
@media screen and (max-width: 360px) {
  .about__container img {
    width: 55%;
  }
}
.about__container p {
  max-width: 550px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0 2em;
}
@media screen and (max-width: 1440px) {
  .about__container p {
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  .about__container p {
    padding: 0 2em;
  }
}
@media screen and (max-width: 768px) {
  .about__container p {
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 360px) {
  .about__container p {
    padding: 0 1em;
  }
}
.about__technologies {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
  flex-wrap: wrap;
}
.about__technologies h3 {
  font-size: 1.7rem;
  align-self: center;
  margin: 2rem 0;
  color: #fff;
}
.about__technologies--container {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
}
.about__technologies--container div {
  margin: 1rem auto;
}
.about__technologies--container img {
  width: 50px;
  margin: 0 2rem;
}
@media screen and (max-width: 360px) {
  .about__technologies--container img {
    width: 30px;
    margin: 0 1rem;
  }
}
.about__technologies--container div:nth-child(8) img {
  width: 50px;
}
.about__technologies--container div:nth-child(9) img {
  width: 100px;
}
.about__technologies--container span {
  display: block;
  font-family: "Raleway";
  text-align: center;
  text-transform: capitalize;
  line-height: 2;
  font-size: 0.8rem;
  font-weight: 600;
}
@media screen and (max-width: 360px) {
  .about__technologies--container span {
    font-size: 0.5rem;
    font-weight: 400;
  }
}

.portfolio {
  margin: 9rem 0;
}
.portfolio h2 {
  padding-left: 3em;
  font-size: 3rem;
  margin: 3rem 0;
  text-shadow: -4px 2px #610082;
}
@media screen and (max-width: 768px) {
  .portfolio h2 {
    padding-left: 0.5em;
  }
}
@media screen and (max-width: 575px) {
  .portfolio h2 {
    padding-left: 1.5em;
  }
}
@media screen and (max-width: 360px) {
  .portfolio h2 {
    padding-left: 0.4em;
    font-size: 2.4rem;
  }
}
.portfolio .card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
  grid-template-rows: 2;
  justify-content: center;
  gap: 1rem;
}
.portfolio .card {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 13px -1px #2d2d2d;
  margin: 0 2rem;
  background: rgba(255, 255, 255, 0.575);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
@media screen and (max-width: 360px) {
  .portfolio .card {
    margin: 0 0.5rem;
  }
}
.portfolio .card__image {
  width: 100%;
}
.portfolio .card__image img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.portfolio .card__body {
  padding-top: 1.2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}
.portfolio .card__title {
  padding: 0;
  margin: 0 1rem;
  text-align: center;
  font-size: 2rem;
  color: #3d3d3d;
  text-shadow: none;
}
.portfolio .card__copy {
  line-height: 1.7;
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #3d3d3d;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.portfolio .card__actions {
  padding-bottom: 1.3em;
  display: flex;
  justify-content: space-evenly;
}
.portfolio .card__actions a {
  width: 150px;
  text-align: center;
  font-size: 1rem;
}
.portfolio .card .tag_container {
  width: 100%;
  height: auto;
  padding: 1em 2em;
  margin-bottom: 0.5rem;
}
.portfolio .card .tag_container .tag {
  background: linear-gradient(90deg, rgb(90, 0, 122) 0%, rgb(136, 17, 177) 50%, rgb(178, 24, 232) 100%);
  box-shadow: rgba(31, 38, 135, 0.37) 0px 8px 32px 0px;
  backdrop-filter: blur(4px);
  color: #fff;
  padding: 0.4em 1em;
  border-radius: 10px;
  font-weight: bold;
  line-height: 2.3;
  font-size: 0.8rem;
  margin: 0 0.3rem;
}

.contact {
  margin: 15rem 0;
}
.contact h2 {
  padding-left: 1.7em;
  font-size: 3rem;
  margin: 3rem 0;
  text-shadow: -4px 2px #610082;
}
@media screen and (max-width: 768px) {
  .contact h2 {
    padding-left: 0.5em;
  }
}
@media screen and (max-width: 575px) {
  .contact h2 {
    padding-left: 1.5em;
  }
}
@media screen and (max-width: 360px) {
  .contact h2 {
    padding-left: 0.5em;
    font-size: 2.4rem;
  }
}
.contact .contact-container {
  padding: 0 1em;
  display: flex;
  justify-content: space-evenly;
}
.contact .input-group {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .contact .input-group {
    width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .contact .input-group {
    width: 100%;
  }
}
.contact .input-group input, .contact .input-group textarea {
  display: block;
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif, serif;
  padding: 0 0.3em;
}
.contact .input-group input {
  width: 100%;
  height: 30px;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
}
.contact .input-group input::placeholder {
  color: #fff;
}
.contact .input-group textarea {
  width: 100%;
  background: none;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
  max-width: 100%;
  max-height: 10.25rem;
  min-height: 5.125rem;
  min-width: 100%;
}
.contact .input-group textarea::placeholder {
  color: #fff;
}
.contact .img-container {
  background-image: url("../images/blob-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 35%;
}
@media screen and (max-width: 768px) {
  .contact .img-container {
    display: none;
  }
}
.contact .img-container img {
  width: 100%;
  margin-top: 3rem;
}
.contact .input-group__actions {
  display: flex;
  justify-content: center;
}
.contact .input-group__actions button {
  padding: 1em 4em;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 5px;
  color: #ffffff;
}

/* Para el loader */
span i {
  color: #e9eff1;
}

.show-loader {
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.enviando {
  margin-bottom: 0 !important;
  color: #fff;
}

.hide-loader {
  display: none;
}

.hide-mensaje {
  display: none;
}

.show-mensaje {
  display: block;
  width: 50%;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  border-color: #badbcc;
  background-color: #d1e7dd;
  color: #0f5132 !important; /* para cambiar el color del texto */
  padding: 1em 0;
  font-size: 1.3rem;
  margin-top: 2rem;
}

footer {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.footer__copy {
  width: 85%;
  text-align: center;
  margin: auto;
  padding: 1em 0;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #dbdbdb;
}

/*# sourceMappingURL=styles.css.map */
