.btn {
  padding: 1em 1.2em;
  border-radius: 15px;
  border: none;
  font-family: 'Raleway', sans-serif, serif;
  color: $color-secondary;
  cursor: pointer;
}

.btn-primary {
  // background-color: $btn-terciary;
  // border: 1.5px solid $btn-terciary;
  background: #4e42f0;
  color: #fff;
  transition: all .3s ease-in;
  font-size: .8rem;
  font-weight: 700;


  &:hover {
    background-color: #2d22c4;
    transform: scale(1.08);
    transition: all .3s ease-out;
  }
}

.btn-secondary {
  background-color: $btn-terciary;
  color: $color-secondary;
  transition: all .3s ease-out;

  &:hover {
    transform: scale(1.08);
    transition: all .3s ease-out;
    background-color: darken($btn-terciary, $amount: 10)
  }
}