.btn {
  padding: 1em 1.2em;
  border-radius: 15px;
  border: none;
  font-family: 'Raleway', sans-serif, serif;
  color: $color-secondary;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(90deg, rgba(27,17,170,1) 0%, rgba(70,58,233,1) 50%, rgba(69,58,215,1) 100%);
  color: #fff;
  transition: all .3s ease-in;
  font-size: .8rem;
  font-weight: 700;


  &:hover {
    background: linear-gradient(90deg, rgba(23,14,157,1) 0%, rgba(57,45,214,1) 50%, rgba(58,48,201,1) 100%);
    transform: scale(1.08);
    transition: all .3s ease-out;
  }
}

.btn-secondary {
  background-color: $btn-terciary;
  color: $color-secondary;
  transition: all .3s ease-out;

  &:hover {
    transform: scale(1.08);
    transition: all .3s ease-out;
    background-color: darken($btn-terciary, $amount: 10)
  }
}