*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif, serif;
}

body {
  background: $color-primary;
  color: $color-secondary;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif, serif;
}

h2 {
  text-shadow: -4px 2px #070079;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}