.about {
  margin: 7rem 0;
  h2 {
    padding-left: 3em;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-shadow: -4px 2px #610082;

    @include medium {
      padding-left: .5em;
    }
    @include regular {
      padding-left: 1em;
    }
    @include small {
      padding-left: .5em;
    }
  }
  &__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    img {
      border-radius: 50%;
      width: 25%;
      height: auto;
      margin-top: 1rem;
      margin-bottom: 2rem;
      margin-left: 3rem;
      margin-right: 3rem;
      background: linear-gradient(145deg, #ffc228, #43004e);

      @include x-large {
        margin: 0;
      }
      @include large {
        margin-left: 3rem;
        // width: 25%;
      }
      @include regular {
        margin-left: 0;
        // width: 30%;
      }
      @include small {
        // width: 55%;
        height: 200px;
      }
    }

    p {
      max-width: 550px;
      font-family: 'Josefin Sans', sans-serif, serif;
      font-weight: 300;
      font-size: 1.7rem;
      line-height: 1.5;
      padding: 0 2em;
      
      @include x-large {
        padding: 0;
      }
      @include large {
        padding: 0 2em;
      }
      @include medium {
        margin-top: 1.5rem;
      }
      @include small {
        padding: 0 1em;
      }
    }
  }

  &__technologies {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    flex-wrap: wrap;

    h3 {
      font-size: 1.7rem;
      align-self: center;
      margin: 2rem 0;
    }

    &--container {
      width: 650px;
      display: flex;
      flex-wrap: wrap;
      div {
        margin: 1rem auto;
      }
      img {
        width: 50px;
        margin: 0 2rem;

        @include small {
          width: 30px;
          margin: 0 1rem;
        }
      }
      div:nth-child(8) {
        img {
          width: 100px;
        }
      }
      div:nth-child(9) {
        img {
          width: 100px;
        }
      }
      span {
        display: block;
        font-family: 'Raleway';
        text-align: center;
        text-transform: capitalize;
        line-height: 2;
        font-size: .8rem;
        font-weight: 600;

        @include small {
          font-size: 0.5rem;
          font-weight: 400;
        }
      }
    }
  }
}