footer {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.footer__copy {
  width: 85%;
  text-align: center;
  margin: auto;
  padding: 1em 0;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #dbdbdb;
}